## Day 1

## Python is case-sensitive.
Everything is an object

## Arithmetic

Symbol	Task Performed
    +	Addition   
    -	Subtraction   
    /	division   
    %	mod   
    *	multiplication   
    //	floor division   
    **	to the power of

In [1]:
1+1

2

In [2]:
8 + 6*2*3 - (15 - 13)

42

In [3]:
42 + 3.149 + -1

44.149

In [4]:
meal = 200.00
# as a decimal, 10% would be 0.1
tip_percent = 0.10
meal * tip_percent

20.0

In [5]:
meal = 200.00
# as integer, 10% would be 10
tip_percent = 10
meal * tip_percent / 100

20.0

## Variables
Variables are names for values.  
In Python the = symbol assigns the value on the right to the name on the left.  
The variable is created when a value is assigned to it.  
Variables persist between cells.  
Variables must be created before they are used.  
Use meaningful variable names.  
  
Variable names:  
-cannot start with a digit  
-cannot contain spaces, quotation marks, or other punctuation  
-may contain an underscore (typically used to separate words in long variable names)

In [6]:
anything = 200.00
print(anything)
anything = "Hello, World!"
print(anything)

200.0
Hello, World!

'print' automatically puts a single space between items to separate them.  
And wraps around to a new line at the end.

In [7]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_2',
 '_3',
 '_4',
 '_5',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'anything',
 'exit',
 'get_ipython',
 'meal',
 'quit',
 'tip_percent']

In [8]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '1+1',
  '8 + 6*2*3 - (15 - 13)',
  '42 + 3.149 + -1',
  'meal = 200.00\n# as a decimal, 10% would be 0.1\ntip_percent = 0.10\nmeal * tip_percent',
  'meal = 200.00\n# as integer, 10% would be 10\ntip_percent = 10\nmeal * tip_percent / 100',
  'anything = 200.00\nprint(anything)\nanything = "Hello, World!"\nprint(anything)',
  'dir()',
  'locals()'],
 '_oh': {1: 2,
  2: 42,
  3: 44.149,
  4: 20.0,
  5: 20.0,
  7: ['In',
   'Out',
   '_',
   '_1',
   '_2',
   '_3',
   '_4',
   '_5',
   '__',
   '___',
   '__builtin__',
   '__builtins__',
   '__doc__',
   '__loader__',
   '__name__',
   '__package__',
   '__spec__',
   '_dh',
   '_i',
   '_i1',
   '_i2',
   '_i3',
   '_i4',
   '_i5',
   '_i6',
   '_i7',
   '_ih',
   '_ii',
   '_iii',
   '_oh',
   'anything',
   'exit',
   'get_ipython',
   'meal',
   'quit',
   'tip_percent']},
 '_dh': ['/home/phil/Downloads/drive-download-20181121T102114Z-001'],
 'In': ['',
  '1+1',
  '8 + 6*2*3 - (15 - 13)',
  '42 + 3.149 + -1',
  'meal = 200.00\n# as a decimal, 10% would be 0.1\ntip_percent = 0.10\nmeal * tip_percent',
  'meal = 200.00\n# as integer, 10% would be 10\ntip_percent = 10\nmeal * tip_percent / 100',
  'anything = 200.00\nprint(anything)\nanything = "Hello, World!"\nprint(anything)',
  'dir()',
  'locals()'],
 'Out': {1: 2,
  2: 42,
  3: 44.149,
  4: 20.0,
  5: 20.0,
  7: ['In',
   'Out',
   '_',
   '_1',
   '_2',
   '_3',
   '_4',
   '_5',
   '__',
   '___',
   '__builtin__',
   '__builtins__',
   '__doc__',
   '__loader__',
   '__name__',
   '__package__',
   '__spec__',
   '_dh',
   '_i',
   '_i1',
   '_i2',
   '_i3',
   '_i4',
   '_i5',
   '_i6',
   '_i7',
   '_ih',
   '_ii',
   '_iii',
   '_oh',
   'anything',
   'exit',
   'get_ipython',
   'meal',
   'quit',
   'tip_percent']},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x7f7317b86da0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x7f7317b52ef0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x7f7317b52ef0>,
 '_': ['In',
  'Out',
  '_',
  '_1',
  '_2',
  '_3',
  '_4',
  '_5',
  '__',
  '___',
  '__builtin__',
  '__builtins__',
  '__doc__',
  '__loader__',
  '__name__',
  '__package__',
  '__spec__',
  '_dh',
  '_i',
  '_i1',
  '_i2',
  '_i3',
  '_i4',
  '_i5',
  '_i6',
  '_i7',
  '_ih',
  '_ii',
  '_iii',
  '_oh',
  'anything',
  'exit',
  'get_ipython',
  'meal',
  'quit',
  'tip_percent'],
 '__': 20.0,
 '___': 20.0,
 '_i': 'dir()',
 '_ii': 'anything = 200.00\nprint(anything)\nanything = "Hello, World!"\nprint(anything)',
 '_iii': 'meal = 200.00\n# as integer, 10% would be 10\ntip_percent = 10\nmeal * tip_percent / 100',
 '_i1': '1+1',
 '_1': 2,
 '_i2': '8 + 6*2*3 - (15 - 13)',
 '_2': 42,
 '_i3': '42 + 3.149 + -1',
 '_3': 44.149,
 '_i4': 'meal = 200.00\n# as a decimal, 10% would be 0.1\ntip_percent = 0.10\nmeal * tip_percent',
 'meal': 200.0,
 'tip_percent': 10,
 '_4': 20.0,
 '_i5': 'meal = 200.00\n# as integer, 10% would be 10\ntip_percent = 10\nmeal * tip_percent / 100',
 '_5': 20.0,
 '_i6': 'anything = 200.00\nprint(anything)\nanything = "Hello, World!"\nprint(anything)',
 'anything': 'Hello, World!',
 '_i7': 'dir()',
 '_7': ['In',
  'Out',
  '_',
  '_1',
  '_2',
  '_3',
  '_4',
  '_5',
  '__',
  '___',
  '__builtin__',
  '__builtins__',
  '__doc__',
  '__loader__',
  '__name__',
  '__package__',
  '__spec__',
  '_dh',
  '_i',
  '_i1',
  '_i2',
  '_i3',
  '_i4',
  '_i5',
  '_i6',
  '_i7',
  '_ih',
  '_ii',
  '_iii',
  '_oh',
  'anything',
  'exit',
  'get_ipython',
  'meal',
  'quit',
  'tip_percent'],
 '_i8': 'locals()'}

Tab - for finishing variables / functions

In [9]:
a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

## Try

In [10]:
garbage

NameError: name 'garbage' is not defined

#The last line of an error message is usually the most informative.

In [11]:
*something

SyntaxError: can't use starred expression here (<ipython-input-11-d7161448e741>, line 1)

In [12]:
print('Hello'

SyntaxError: unexpected EOF while parsing (<ipython-input-12-725bb0f12fbb>, line 1)

In [13]:
1v34='mat'

SyntaxError: invalid syntax (<ipython-input-13-cd12194af6b9>, line 1)

In [14]:
print(v34)

NameError: name 'v34' is not defined

In [15]:
v34

NameError: name 'v34' is not defined

In [16]:
1234/0

ZeroDivisionError: division by zero

In [17]:
print('hello)

SyntaxError: EOL while scanning string literal (<ipython-input-17-126035ba983d>, line 1)

In [18]:
print(V34)

NameError: name 'V34' is not defined

In [19]:
age == 31

NameError: name 'age' is not defined

In [20]:
31 = age

SyntaxError: can't assign to literal (<ipython-input-20-b781bc34195b>, line 1)

## Relational Operators

    >	greater than   
    <=	less than or equal to   
    >=	greater than or equal to   
    ==	True, if it is equal   
    !=	True, if not equal to   
    <	less than

In [2]:
z = 1

In [3]:
z==1

True

In [14]:
z > 1

False

## Bitwise operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [15]:
a = 2 #10
b = 3 #11

In [19]:
print (a & b)
print(bin(a&b))

2
0b10

In [ ]:
5 >> 1

### Conversion

In [13]:
hex(170)

'0xaa'

In [ ]:
0xAA

In [ ]:
oct(8)

In [ ]:
010

In [21]:
print (int('010',8))
print (int('0xaa',16))
print (int('1010',2))

8
170
10

In [ ]:
print int(7.7)
print int('7')

In [22]:
chr(98)

'b'

In [23]:
ord('A')

65

In [25]:
print (round(5.6231) )
print (round(4.55892, 2))

6
4.56

In [26]:
c =complex('5+2j')
print (abs(c))

5.385164807134504

In [27]:
divmod(9,2)

(4, 1)

In [28]:
print (isinstance(1, int))
print (isinstance(1.0,int))
print (isinstance(1.0,(int,float)))

True
False
True

In [31]:
abc = input("Type something here and it will be stored in variable abc \t")

Type something here and it will be stored in variable abc 	sdgdsf

In [32]:
type(int)

type

## Text

In [21]:
dir("Hello, World!")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [22]:
print(5.0.__add__(4.0))

9.0

In [23]:
string = "Hello, World"
string.upper()

'HELLO, WORLD'

In [24]:
string = "Hello, World"
string.lower()

'hello, world'

In [25]:
"Hello, World".upper()

'HELLO, WORLD'

## Formating

In [26]:
your_name = "James Bond"
string = "Hello, {0}!"
print(string.format(your_name))

Hello, James Bond!

In [27]:
print("Hello, {0}!".format("James Bond"))

Hello, James Bond!

In [28]:
"{0} likes {1}".format("James Bond", 'Python')

'James Bond likes Python'

In [29]:
print("Jawahar Navodaya Vidyalaya,\nDungrin,\nHamirpur")

Jawahar Navodaya Vidyalaya,
Dungrin,
Hamirpur

In [30]:
template ="{0} {1} {2} {3}"
print(template.format("Python", "is", "very", "interesting!"))

Python is very interesting!

In [31]:
template ="{0} {1} {2} {3}"
a='Python'
b='very'
print(template.format(a, "is", b, "interesting!"))

Python is very interesting!

## Try

Print: three variables so that it prints [your name] was born in [city] in [year]

## Swapping values

In [32]:
lowest = 1.0
highest = 3.0
temp = lowest
lowest = highest
highest = temp

## Predicting Values

In [33]:
initial = "left"
position = initial
initial = "right"

## Every value has a type.


*   Every value in a program has a specific type.
*   Integer (`int`): counting numbers like 3 or -512.
*   Floating point number (`float`): fractional numbers like 3.14159 or -2.5.
    *   Integers are used to count, floats are used to measure.
*   Character string (usually just called "string", `str`): text.
    *   Written in either single quotes or double quotes (as long as they match).
    *   The quotation marks aren't printed when the string is displayed.

## Use the built-in function `type` to find the type of a value.

*   Use the built-in function `type` to find out what type a value has.
*   Works on variables as well.
    *   But remember: the *value* has the type --- the *variable* is just a label.

In [34]:
print(type(52))

<class 'int'>

In [35]:
pi = 3.14159
print(type(pi))

<class 'float'>

In [36]:
fitness = 'average'
print(type(fitness))

<class 'str'>

## Types control what operations can be done on values.

In [37]:
print(5 - 3)

2

In [38]:
print('hello' - 'h')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## Strings can be added and multiplied.

In [39]:
full_name = 'Phil' + ' ' + 'Dani'
print(full_name)

Phil Dani

In [40]:
separator = '=' * 10
print(separator)

==========

## Strings have a length (but numbers don't).

In [41]:
print(len('phil dani'))

9

In [42]:
print(len(52))

TypeError: object of type 'int' has no len()

## Must coerce numbers to strings or vice versa when operating on them.

*   Cannot add numbers and strings.

In [43]:
print(1 + '2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

*   Not allowed because it's ambiguous: should `1 + '2'` be `3` or `'12'`?
*   Use the name of a type as a function to convert a value to that type.
*   This conversion is also called *coercing* a value.

In [44]:
print(1 + int('2'))
print(str(1) + '2')

3
12

## Can mix integers and floats freely in operations.   
Integers and floating-point numbers can be mixed in arithmetic.   
Python automatically converts integers to floats as needed.

In [45]:
print('half is', 1 / 2.0)
print('three squared is', 3.0 ** 2)

half is 0.5
three squared is 9.0

In [46]:
print("string to float:", float("3.4"))
print("float to int:", int(3.4))

string to float: 3.4
float to int: 3

In [47]:
print("fractional string to int:", int(float("3.4")))

fractional string to int: 3

Order

In [48]:
first = 1
second = 5 * first
first = 2
print('first is', first, 'and second is', second)

first is 2 and second is 5

## Try

*   Store your year of birth as a string   
*   Store current year as float
*   Find your age using type conversion

## Try

In [49]:
first = 1.0   
second = "1"   
third = "1.1"

1. `first + float(second)`
2. `float(second) + float(third)`
3. `first + int(third)`
4. `first + int(float(third))`
5. `int(first) + int(float(third))`
6. `2.0 * second`
7. `first == second`

## Try

In [50]:
print(8/4)
type(8/4)

2.0

float

In [51]:
print(8/5)
type(8/5)

1.6

float

In [52]:
print(8*4)
type(8*4)

32

int

In [53]:
print(8*4.5)
type(8*4.5)

36.0

float

In [54]:
num1 = 30
num2 = 35.0

type(num1) == type(num2)

False

In [55]:
print("Hello World!')

SyntaxError: EOL while scanning string literal (<ipython-input-55-90700430ebea>, line 1)

In [56]:
print("I am " + 27 + " years old.")

TypeError: must be str, not int

## Division

In [57]:
print('5 // 3:', 5//3)
print('5 % 3:', 5%3)

5 // 3: 1
5 % 3: 2

## String slicing

In [58]:
first_name = "James"
last_name = "Bond"
full_name = first_name + last_name
print(full_name)

JamesBond

In [59]:
#0 is the starting index
full_name[0]

'J'

In [60]:
#from 0 to (5-1)th index
full_name[0:5]

'James'

In [61]:
#from beginning to (5-1)th index
full_name[:5]

'James'

In [62]:
#from 5th till the end
full_name[5:]

'Bond'

## Splitting String

In [63]:
text = 'twinkle twinkle little star'

# Splits at space 
print(text.split())

['twinkle', 'twinkle', 'little', 'star']

In [64]:
word = 'twinkle, twinkle, little, star'

# Splits at ',' 
print(word.split(','))

['twinkle', ' twinkle', ' little', ' star']

In [65]:
word = 'twinkle: twinkle: little: star'

# Splitting at ':' 
print(word.split(':'))

['twinkle', ' twinkle', ' little', ' star']

In [66]:
word = 'CatBatSatFatOr'

# Splitting at 3 using list comprehension
print([word[i:i+3] for i in range(0, len(word), 3)])

['Cat', 'Bat', 'Sat', 'Fat', 'Or']

In [67]:
word = 'apple, orange, grape, banana, pear, date'

# maxsplit: 0 
print(word.split(', ', 0)) 

# maxsplit: 4 
print(word.split(', ', 4)) 

# maxsplit: 1 
print(word.split(', ', 3))

['apple, orange, grape, banana, pear, date']
['apple', 'orange', 'grape', 'banana', 'pear, date']
['apple', 'orange', 'grape', 'banana, pear, date']

## Join Strings

In [68]:
list1 = ['1','2','3','4'] 

s = "-"

# joins elements of list1 by '-' 
# and stores in sting s 
s = s.join(list1) 

# join use to join a list of 
# strings to a separator s 
print(s)

1-2-3-4

In [69]:
# Joining with empty separator 
list1 = ['1','2','3','4'] 
print("".join(list1))

1234

## Replace string

In [70]:
song = 'cold, cold heart'
print (song.replace('cold', 'hurt'))

song = 'Let it be, let it be, let it be, let it be'

'''only two occurences of 'let' is replaced'''
print(song.replace('let', "don't let", 2))

hurt, hurt heart
Let it be, don't let it be, don't let it be, let it be

## Try

replace 'o's with 'z's

## Strip String

In [71]:
#only checks at the beginning and the end
string = 'android is awesome'
print(string.strip('an'))

droid is awesome

In [72]:
# Python code to illustrate the working of strip() 
string = ' Geeks for Geeks '

# Leading spaces are removed 
print(string.strip()) 

# Geeks is removed 
print(string.strip(' Geeks')) 

# Not removed since the spaces do not match 
print(string.strip('Geeks'))

Geeks for Geeks
for
 Geeks for Geeks

## Find String

In [73]:
word = 'Python is fun for everyone'

# returns first occurrence of Substring 
result = word.find('fun') 
print ("Substring 'fun' found at index:", result ) 

result = word.find('Py') 
print ("Substring 'Py' found at index:", result ) 

# How to use find() 
if (word.find('pawan') != -1): 
	print ("Contains given substring ") 
else: 
	print ("Doesn't contains given substring")

Substring 'fun' found at index: 10
Substring 'Py' found at index: 0
Doesn't contains given substring

In [74]:
word = 'Python is fun for everyone'

print(word.find('fo', 2)) 

print(word.find('one ', 2)) 

print(word.find('y', 4, 10)) 

print(word.find('for ', 4, 17))

14
-1
-1
-1

## Built-in functions

In [75]:
print(max(1, 2, 3))
print(max('a', 'A', '0'))

3
a

In [76]:
round(3.712)

4

In [77]:
round(3.712, 1)

3.7

In [78]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

In [ ]:
number = input("Convert to binary: ")

# convert to integer
integer = int(number)

# convert integer to binary
binary = bin(integer)

print(binary)

## Try

In [79]:
#Robert Frost's "The Road Not Taken":
poem = '''Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I
I took the one less traveled by,
And that has made all the difference.'''

In [80]:
#How many characters (letters) are in the poem?
len(poem)

729

In [81]:
print(len(poem), len(poem.strip(".")), len(poem.replace(".", "")) )

729 728 726

In [82]:
#forward & reverse find
print(poem.find("and"))
print(poem.rfind("and"))

278
652

In [83]:
#How many words?
len(poem.split())

144

In [84]:
#How many lines? (HINT: A line break is represented as  \n )
len(poem.split("\n")) - poem.count("\n\n")

20

In [85]:
#How many stanzas?
len(poem.split("\n\n"))

4

In [86]:
#How many unique words? (HINT: look up what set does)
len(set(poem.lower().split()))

96

In [87]:
from string import punctuation
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [88]:
for char in punctuation:
    poem = poem.replace(char, "")
    
print(poem)

Two roads diverged in a yellow wood
And sorry I could not travel both
And be one traveler long I stood
And looked down one as far as I could
To where it bent in the undergrowth

Then took the other as just as fair
And having perhaps the better claim
Because it was grassy and wanted wear
Though as for that the passing there
Had worn them really about the same

And both that morning equally lay
In leaves no step had trodden black
Oh I kept the first for another day
Yet knowing how way leads on to way
I doubted if I should ever come back

I shall be telling this with a sigh
Somewhere ages and ages hence
Two roads diverged in a wood and I
I took the one less traveled by
And that has made all the difference

## Dictionaries

In [119]:
#Index is a KEY and each key has an associated VALUE
names={"fruit":"apple", "veg":"beans"}
print(names["fruit"])

apple

In [120]:
for key in names:
    print('The Key is "{0}" and the value is  "{1}"'.format(key, names[key]))

The Key is "fruit" and the value is  "apple"
The Key is "veg" and the value is  "beans"

In [121]:
comp = {'input': "keyboard",
        'output': 'monitor'}
print('In my computer, the {input} is my input device and {output} is my output device.'.format(**comp))
#**comp is to pass the keywords with their value pairs

In my computer, the keyboard is my input device and monitor is my output device.

In [122]:
comp = {'input': "keyboard",
        'output': 'monitor'}
print('{0}'.format(comp))

{'input': 'keyboard', 'output': 'monitor'}

In [123]:
comp = {'input': "keyboard",
        'output': 'monitor'}
print('{0}'.format('xyz', **comp))

xyz

In [124]:
#Try
# Edit with the values you want.
entry1 = {'name': "phi",
           'email': "p@d.com"}

# Add the keys and values to this entry like above.
entry2 = {'name': "dani",
           'email': "d@p.com"}

print(entry1)
print(entry2)

{'name': 'phi', 'email': 'p@d.com'}
{'name': 'dani', 'email': 'd@p.com'}

In [125]:
entries = [entry1,entry2]  # Edit this list to include both entries

print(entries)

[{'name': 'phi', 'email': 'p@d.com'}, {'name': 'dani', 'email': 'd@p.com'}]

In [126]:
# Edit this message
message = """To: {email}

Hey {name},

How is the life?
"""

print (message)

To: {email}

Hey {name},

How is the life?

In [127]:
for entry in entries:
    print(message.format(**entry)) # Add .format with the right arguments
    print("-"*50)

To: p@d.com

Hey phi,

How is the life?

--------------------------------------------------
To: d@p.com

Hey dani,

How is the life?

--------------------------------------------------

## Try

In [34]:
print('{a:<10}|{a:^10}|{a:>10}'.format(a='test'))
print('{a:~<10}|{a:~^10}|{a:~>10}'.format(a='test'))

person = {"first":"Joran","last":"Beasley"}
print("{p[first]} {p[last]}".format(p=person))
data = range(100)
print("{d[0]}...{d[99]}".format(d=data))

print("normal:{num:d}".format(num=33))
print("normal:{num:f}".format(num=33))
print("binary:{num:b}".format(num=33))
print("binary:{num:08b}".format(num=33))
print("hex:{num:x}".format(num=33))
print("hex:0x{num:0<4x}".format(num=33))
print("octal:{num:o}".format(num=33))

print("{num:f}".format(num=22/7))
print("${num:0.2f}".format(num=22/7))

print("{num:.2e}".format(num=22/7))
print("{num:.1%}".format(num=22/7))

print("{num:g}".format(num=5.1200001))

variable=27
print(f"{variable}")

test      |   test   |      test
test~~~~~~|~~~test~~~|~~~~~~test
Joran Beasley
0...99
normal:33
normal:33.000000
binary:100001
binary:00100001
hex:21
hex:0x2100
octal:41
3.142857
$3.14
3.14e+00
314.3%
5.12
27

In [ ]:
total = 0
for number in range(2,101,2):
 total += number
print(total)

In [ ]:
answer = input("Return TRUE or FALSE: Python was released in 1991:\n")

if answer == "TRUE":
 print('Correct')
elif answer == "FALSE":
 print('Wrong')
elif answer != ("TRUE" or "FALSE"):
 print('Please answer TRUE or FALSE')
print('Bye!')

In [42]:
for even in range(2,11,2):
  for odd in range(1,11,2):
    val = even + odd
    print(even, "+", odd, "=", val)

2 + 1 = 3
2 + 3 = 5
2 + 5 = 7
2 + 7 = 9
2 + 9 = 11
4 + 1 = 5
4 + 3 = 7
4 + 5 = 9
4 + 7 = 11
4 + 9 = 13
6 + 1 = 7
6 + 3 = 9
6 + 5 = 11
6 + 7 = 13
6 + 9 = 15
8 + 1 = 9
8 + 3 = 11
8 + 5 = 13
8 + 7 = 15
8 + 9 = 17
10 + 1 = 11
10 + 3 = 13
10 + 5 = 15
10 + 7 = 17
10 + 9 = 19

In [43]:
user_pass = "random"
valid = False
while not valid:
 password = input("please enter your password: ")
 if password == user_pass:
   print("Welcome back user!")
   valid = True
 else:
   print("invalid password, try again... ")

please enter your password: 123
invalid password, try again...
please enter your password: random
Welcome back user!

In [35]:
distance_in_km = 150
time_in_hours = 2

distance_in_mi = distance_in_km / 1.6
distance_in_mtrs = distance_in_km * 1000

time_in_seconds = time_in_hours * 3600

speed_in_kph = distance_in_km / time_in_hours
speed_in_mph = distance_in_mi / time_in_hours
speed_in_mps = distance_in_mtrs / time_in_seconds

print("The speed in kilometers per hour is:", speed_in_kph)
print("The speed in miles per hour is:", speed_in_mph)
print("The speed in meters per second is:", speed_in_mps)

The speed in kilometers per hour is: 75.0
The speed in miles per hour is: 46.875
The speed in meters per second is: 20.833333333333332

In [36]:
PI = 3.14159
radius = 7

area = PI * radius**2
circumference = 2 * PI * radius

print("Circumference of the circle:", circumference)
print("Area of the circle:", area)

Circumference of the circle: 43.98226
Area of the circle: 153.93791

In [ ]:
"""
This script generates a multiplication table from 1 to 10 for
any given number.
"""
number = int(input("Generate a multiplication table for: "))

print("_" * 20)
print("1:", number)
print("2:", number * 2)
print("3:", number * 3)
print("4:", number * 4)
print("5:", number * 5)
print("6:", number * 6)
print("7:", number * 7)
print("8:", number * 8)
print("9:", number * 9)
print("10:", number * 10)
print("_" * 20)

In [37]:
days = int(input("Number of days:"))

years = days // 365
weeks = (days % 365) // 7
days = days - ((years * 365) + (weeks * 7))

print("Years:", years)
print("Weeks:", weeks)
print("Days:", days)

Number of days:wefwe

ValueError: invalid literal for int() with base 10: 'wefwe'

In [ ]:
string = input("String to convert: ")
n = int(input("How many last letters should be converted? "))

# First part of the string
start = string[:len(string) - n]
# last part of the string that we're converting.
end = string[len(string) - n:]

print(start + end.upper())

In [38]:
sentence = input("Sentence: ")
query = input("Word to look for in sentence: ")

# sanitize our inputs
sentence = sentence.lower().strip()
query = query.lower().strip()

num_occurrences = sentence.count(query)

print(f"There are {num_occurrences} occurrences of '{query}' in the sentence.")

Sentence: 3wgdfsbvgdfg
Word to look for in sentence: bf
There are 0 occurrences of 'bf' in the sentence.

In [39]:
array = [55, 12, 37, 831, 57, 16, 93, 44, 22]

print("Array: ", array)
n = int(input("Number of elements to fetch from array: "))

print(array[0: n])

Array:  [55, 12, 37, 831, 57, 16, 93, 44, 22]
Number of elements to fetch from array: 5
[55, 12, 37, 831, 57]

In [40]:
sentence = input("Sentence: ")

sentence = sentence.replace(" ", "\n")

print(sentence, "\a")

Sentence: 345435
345435 

In [41]:
for number in range(0,200):
  if number == 0:
    continue
  elif number % 3 != 0:
    continue
  elif type(number) != int:
    continue
  else:
    pass
  print(number)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198